<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simple_Client.My.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Simple_Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Simple_Client.My.Settings>
            <setting name="serverIPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>3434</value>
            </setting>
        </Simple_Client.My.Settings>
        <Simple_Client.Settings>
            <setting name="LocalUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RemoteUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverIPAddress" serializeAs="String">
                <value />
            </setting>
        </Simple_Client.Settings>
    </userSettings>
</configuration>